.logincontainer{
    justify-content: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Center content vertically */
  justify-content: center;
  height: 500px;
  background-color: #555;
  
}

/* Rest of your CSS remains the same */


.card h2 {
    margin-bottom: 20px;
    color: #333;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: #777;
}

.card input[type="text"],
.card input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #555;
}

.card button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.card button:hover {
    background-color: #0056b3;
}

.login-link {
    color: #007BFF;
    text-decoration: none;
    margin-top: 10px;
}
.aboutbgimage{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
